<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.salary.mapper.dataManagementMapper">
	
	<select id="empList" parameterType="String" resultType="EmpVO">
		select emp_no, emp_nm from emp where emp_nm like '%${name}%'
	</select>
	
	<!-- empNo 선택에 따른 급여명세서 list(모달창에 출력) (파라미터 : empNo) -->
	<select id="selectSCList" parameterType="SalaryCertVO" resultType="SalaryCertVO">
		SELECT SC_NO
			 , EMP_NO
			 , PT_NO
			 , PR_YR
			 , PR_MTH
			 , PR_STL_NM
			 , TO_CHAR(PR_PDATE, 'YYYY-MM-DD') AS PR_PDATE
        FROM SALARY_CERT
        WHERE EMP_NO = #{empNo}
	</select>
	
	<!-- 급여명세서 출력 (파라미터 : scNo) (급여담당자용) -->
	<select id="selectSalaryCert" parameterType="SalaryCertVO" resultType="SalaryCertVO">
        SELECT DISTINCT
        	   S.SC_NO
	         , S.EMP_NO
	         , E.EMP_NM
	         , S.PT_NO
	         , S.PR_YR
	         , S.PR_MTH
	         , S.PYTL_AMT
	         , S.DDTL_AMT
	         , S.NET_AMT
	         , TO_CHAR(S.PR_FDATE, 'YYYY-MM-DD') AS PR_FDATE
	         , S.FIN_YN
	         , TO_CHAR(S.PR_PDATE,'YYYY-MM-DD') AS PR_PDATE
	         , S.PR_STL_NM
	         , P.PD_NO
	         , P.PD_NM
	         , P.PD_AMT
	         , P.PD_TYPE
	         , D.DNM
	         , E.EMP_BRDT
	         , C.BCNT_AMT AS BASE_PAY
	         , ROUND(C.BCNT_AMT/209) AS BASIC_HOUR_WAGE
	         ,TO_CHAR(I.SC_IS_DATE, 'YYYY-MM-DD') AS SC_IS_DATE
	         ,(SELECT SVFI_NAME FROM FILE_INFO WHERE FILE_SN = (SELECT MAX(FILE_SN) FROM FILE_INFO WHERE FILE_SETTING = 'seal')) AS SVFI_NAME
        FROM SALARY_CERT S
		        INNER JOIN PD_HISTORY P ON S.SC_NO = P.SC_NO
		        INNER JOIN EMP E ON S.EMP_NO = E.EMP_NO
		        INNER JOIN DEPT D ON E.DCODE = D.DCODE
		        INNER JOIN CNTHX C ON E.EMP_NO = C.EMP_NO
		        INNER JOIN SC_ISSUE I ON S.SC_NO = I.SC_NO 
        WHERE S.SC_NO=#{scNo}
        AND I.SC_IS_DATE = (SELECT MAX(SC_IS_DATE) FROM SC_ISSUE WHERE SC_NO = #{scNo})
        ORDER BY P.PD_TYPE, P.PD_NO
	</select>
	
	<!-- 급여명세서 출력 (파라미터 : scNo) (개인용) -->
	<select id="selectSalaryCert2" parameterType="SalaryCertVO" resultType="SalaryCertVO">
		SELECT DISTINCT
        	   S.SC_NO
	         , S.EMP_NO
	         , E.EMP_NM
	         , S.PT_NO
	         , S.PR_YR
	         , S.PR_MTH
	         , S.PYTL_AMT
	         , S.DDTL_AMT
	         , S.NET_AMT
	         , TO_CHAR(S.PR_FDATE, 'YYYY-MM-DD') AS PR_FDATE
	         , S.FIN_YN
	         , TO_CHAR(S.PR_PDATE,'YYYY-MM-DD') AS PR_PDATE
	         , S.PR_STL_NM
	         , P.PD_NO
	         , P.PD_NM
	         , P.PD_AMT
	         , P.PD_TYPE
	         , D.DNM
	         , E.EMP_BRDT
	         , C.BCNT_AMT AS BASE_PAY
	         , ROUND(C.BCNT_AMT/209) AS BASIC_HOUR_WAGE
	         ,(SELECT SVFI_NAME FROM FILE_INFO WHERE FILE_SN = (SELECT MAX(FILE_SN) FROM FILE_INFO WHERE FILE_SETTING = 'seal')) AS SVFI_NAME
        FROM SALARY_CERT S
		        INNER JOIN PD_HISTORY P ON S.SC_NO = P.SC_NO
		        INNER JOIN EMP E ON S.EMP_NO = E.EMP_NO
		        INNER JOIN DEPT D ON E.DCODE = D.DCODE
		        INNER JOIN CNTHX C ON E.EMP_NO = C.EMP_NO
        WHERE S.SC_NO=#{scNo}
        ORDER BY P.PD_TYPE, P.PD_NO
	</select>
	
	<!-- 급여명세서 발급 INSERT (파라미터 : scNo, scIsRsn, scType, empNo)-->
	<insert id="insertSC" parameterType="SalaryCertVO">
		<selectKey resultType="int" order="BEFORE" keyProperty="scIsNo">
			SELECT (NVL(MAX(SC_IS_NO),0) + 1) FROM SC_ISSUE
		</selectKey>
		INSERT INTO SC_ISSUE(SC_IS_NO, SC_NO, SC_IS_DATE, SC_IS_RSN, SC_TYPE, EMP_NO)
        VALUES(#{scIsNo}, #{scNo}, SYSDATE, #{scIsRsn}, #{scType}, #{empNo})
	</insert>  
	
	<!-- 명세서 발급 내역 출력 -->
	<select id="selectScIssueList" resultType="SalaryCertVO" >
		SELECT I.SC_IS_NO 
			 , I.SC_NO 
			 , TO_CHAR(I.SC_IS_DATE, 'YYYY-MM-DD') AS SC_IS_DATE 
			 , I.SC_TYPE 
			 , E.EMP_NO 
			 , E.EMP_NM 
			 , E.EMP_MAIL 
			 , I.SC_IS_RSN 
			 , (SELECT PR_MTH FROM SALARY_CERT WHERE SC_NO=I.SC_NO) AS PR_MTH
			 , (SELECT CM_NM FROM CMCODE WHERE CM_CODE=(SELECT ST_CLF_CD FROM EMP WHERE EMP_NO=E.EMP_NO)) as ST_CLF_CD_NM 
		FROM SC_ISSUE I  
		INNER JOIN EMP E ON(I.EMP_NO=E.EMP_NO) 
		ORDER BY I.SC_IS_NO DESC
	</select>
	
	<!-- 해당 연도별 누적 수령액, 급여명세서 리스트, 해당연도 최신월 정보 (파라미터 : empNo, prYr)-->
	<select id="selectPrYrSumNetAmt" parameterType="SalaryCertVO" resultType="SalaryCertVO">
		SELECT ( SELECT SUM(NET_AMT)
                 FROM SALARY_CERT
                 WHERE EMP_NO = #{empNo} AND PR_YR = #{prYr}
                ) AS SUM_NET_AMT                
		      , SC_NO
		      , EMP_NO
		      , PT_NO
		      , PR_YR
		      , PR_MTH
		      , PYTL_AMT
		      , DDTL_AMT
		      , NET_AMT
		      , TO_CHAR(PR_PDATE, 'YYYY-MM-DD') AS PR_PDATE
	    FROM SALARY_CERT
	    WHERE EMP_NO = #{empNo} AND PR_YR = #{prYr}
	    ORDER BY PR_MTH DESC
	</select>
	
	<select id="loadYear" parameterType="String" resultType="SalaryCertVO">
		select pr_yr from SALARY_CERT
		where emp_no = #{empNo}
		GROUP by pr_yr
		order by pr_yr desc
	</select>
	
	<!-- 갑종근로소득에 대한 소득세원천징수확인서  -->
	<!-- 급여귀속연도,귀속월, 원천세액, 납세일자 리스트 (파라미터 : EMP_NO, 시작날짜(sdate), 끝날짜(edate)) -->	
	<select id="selectTaxAmt" parameterType="SalaryCertVO" resultType="SalaryCertVO">
		SELECT S.SC_NO
			 , S.PR_YR
			 , S.PR_MTH
			 , ROUND(P.PD_AMT*1.1, -1) AS WHD_TAX_AMT
			 , TO_CHAR(ADD_MONTHS(PR_PDATE, 1), 'YYYY-MM') || '-10' AS TAX_DATE 
		FROM SALARY_CERT S 
		INNER JOIN PD_HISTORY P ON (S.SC_NO=P.SC_NO)
		WHERE EMP_NO = #{empNo} 
		    AND (S.PR_PDATE BETWEEN #{sdate}  AND #{edate}) 
		    AND P.PD_NM='소득세' 
		    AND S.PT_NO=(SELECT PT_NO FROM PAYTPL WHERE PT_NM= '정기급여')
		ORDER BY PR_YR DESC, PR_MTH DESC
	</select>
	
	<!-- 과세총액 리스트 (파라미터 : EMP_NO, 시작날짜(sdate), 끝날짜(edate)) -->
	<select id="selectTotalTaxAmt" parameterType="SalaryCertVO" resultType="SalaryCertVO">
		SELECT PR_YR, PR_MTH, SUM(PD_AMT) AS TOTAL_TAX_AMT
		FROM SALARY_CERT S
		INNER JOIN PD_HISTORY P ON (S.SC_NO=P.SC_NO)
		WHERE PD_TYPE='B0401' 
			AND PD_TAX_YN='B0101' 
			AND EMP_NO = #{empNo} 
			AND S.PR_PDATE BETWEEN #{sdate} AND #{edate} 
			AND S.PT_NO=(SELECT PT_NO FROM PAYTPL WHERE PT_NM= '정기급여')
		GROUP BY PR_YR, PR_MTH
		ORDER BY PR_YR DESC, PR_MTH DESC
	</select>
	
	<!-- 원천징수의무자 (회사정보) (회사명, 사업자등록번호, 사업장소재지, 대표자, 법인등록번호) -->
	<select id="selectCompanyInfo" resultType="CompanyInfoVO">
	SELECT  CO_NM
		  , (SELECT EMP_NM FROM EMP WHERE EMP_NO=CO_REP) AS EMP_NM
		  , CO_ADDR
		  , CO_REGNO
		  , COR_REGNO
		  , CO_ADDR2 
		  ,(SELECT SVFI_NAME FROM FILE_INFO WHERE FILE_SN = (SELECT MAX(FILE_SN) FROM FILE_INFO WHERE FILE_SETTING = 'seal')) AS SVFI_NAME
	FROM COMPANY_INFO
	</select>
	
	<!-- 납세자 (EMP 정보) - 이름, 주민등록번호, 주소 (파라미터 : EMP_NO) -->
	<select id="selectTaxpayer" parameterType="SalaryCertVO" resultType="EmpVO">
		SELECT EMP_NM
			 , REGN
			 , EMP_ADDR2
			 , EMP_ADDR3
		FROM EMP
		WHERE EMP_NO=#{empNo}
	</select>
	
	<!-- 소득증명서 발급 INSERT (파라미터 : scIsRsn, scType, empNo)-->
	<insert id="insertINC" parameterType="SalaryCertVO">
		<selectKey resultType="int" order="BEFORE" keyProperty="scIsNo">
			SELECT (NVL(MAX(SC_IS_NO),0) + 1) FROM SC_ISSUE
		</selectKey>
		INSERT INTO SC_ISSUE(SC_IS_NO, SC_IS_DATE, SC_IS_RSN, SC_TYPE, EMP_NO)
        VALUES(#{scIsNo}, SYSDATE, #{scIsRsn}, #{scType}, #{empNo})
	</insert>  
	
	<!-- 방금 발급된 증명서 발급사유, 발급일자 가져오기 -->
	<select id="selectScIsInfo" resultType="SalaryCertVO">
		SELECT SC_IS_RSN
			 , TO_CHAR(SC_IS_DATE, 'YYYY"년   "MM"월   "DD"일"') AS SC_IS_DATE
		FROM SC_ISSUE
		WHERE SC_IS_NO = (SELECT MAX(SC_IS_NO) FROM SC_ISSUE)
	</select>
	
</mapper>